*{
    margin: 0;
    padding: 0;
}
/* HEADER SECTION */

.header-section{
    background-image: url(./images/donation9.jpg), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    width: auto;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white
}
.header-title{
    font-size: 80px;
    font-weight: bold;
    padding-top: 140px;
    padding-bottom: 20px;
}
.header-description{
    font-size: 20px;
    padding-bottom: 40px;
}
.header-btn{
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(238, 66, 66);
    border-style: none;
    border-radius: 5px;
}

/* 1st Body Part */

.donate-1stpart{
    padding: 10px;
    text-align: center;
}
.dt-title{
    padding-top: 120px;
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.dt-description{
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 20px;
    color: gray;
}
.money-btn{
    padding: 30px 35px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    background-color: rgb(235, 235, 235);
    border-style: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.dif-btn{
    padding: 30px 35px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(238, 66, 66);
    background-color: rgb(243, 213, 213);
    border-style: solid;
    border-color: rgb(238, 66, 66);
    border-radius: 5px;
    border-width: 3px;
    font-family: 'Times New Roman', Times, serif;
}
.scnd-btn{
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(238, 66, 66);
    border-style: none;
    border-radius: 5px;
    margin-top: 40px;
    
}
.other-amount{
    width: 63%;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 65px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(70, 70, 70);
    border-bottom: 2px solid rgb(138, 137, 137);
}

/* 2nd Part */

.second-part{
    text-align: center;
}

.secondpart-title{
    margin-top: 65px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
}

.secondpart-desc{
    font-size: 20px;
    margin-bottom: 35px;
    color: rgb(70, 70, 70);
}

/* box-section */

.box-section{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.first-box{
    background-color: rgb(216, 216, 252);
    padding: 30px;
    margin-right: 20px;
}
.second-box{
    background-color: rgb(250, 232, 235);
    padding: 30px;
    margin-right: 20px;
}
.third-box{
    background-color: rgb(248, 230, 197);
    padding: 30px;
}

.box-title{
    font-size: 28px;
    margin-top: 25px;
}
.box-desc{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.box-img{
    margin-top: 25px;
}

/* Second Box Part */

.frst-imgbox{
    display: flex;
    margin-top: 100px;
}
.frst-boxpic{
    width: 62%;
    height: 72vh;
    margin-left: 100px;
    border-radius: 5px;
    background-position: right;
}
.frst-imgboxtitle{
    font-size: 47px;
    margin-top: 40px;
    margin-bottom: 28px;
}
.frst-imgboxdesc{
    font-size: 20px;
    color: rgb(70, 70, 70);
}
.frst-imgboxbtn{
    padding: 15px 22px;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background-color: rgb(238, 66, 66);
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
}
.frst-box{
    margin-left: 157px;
}

/* 2nd Box Image */

.scnd-boxpic{
    width: 60%;
    height: 72vh;
    border-radius: 5px;
    background-position: right;
    margin-left: 157px;
}
.scnd-box{
    margin-right: 150px;
}
.scnd-imgboxtitle{
    font-size: 47px;
    margin-top: 40px;
    margin-bottom: 28px;
}
.scnd-imgboxdesc{
    font-size: 20px;
    color: rgb(70, 70, 70);
}

/* Last Part */

.last-part{
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
.last-prttitle{
    font-size: 47px;
    margin-bottom: 20px;
}
.last-prtdesc{
    font-size: 20px;
    color: rgb(70, 70, 70);
    margin-bottom: 40px;
}

.last-partbtn1{
    padding: 15px 22px;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background-color: rgb(238, 66, 66);
    border-style: none;
}
.last-partbtn2{
    padding: 15px 22px;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background-color: rgb(238, 66, 66);
    border-style: none;
}

.text{
    border-style: none;
    background-color: gray;
    padding: 15px 22px;
    color: white;
}


/* Footer-Section */

.footer-part{
    text-align: center;
    background-color: black;
    color: white;
}
.footer-title{
    margin-top: 100px;
    padding-top: 40px;
    color: rgb(238, 66, 66);
    font-size: 40px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-desc{
    padding-top: 20px;
    padding-bottom: 40px;
}